form{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	margin-bottom: 5rem;
}

.DateInput_input{
	padding: 0;
}

.item{
	margin: 1rem;
	border-radius: 5px;
	-webkit-appearance: textfield;
	padding: 1px 0px;
	border-width: 2px;
	border-style: inset;
    border-color: initial;
}