html {
	font-size: 62.5%;
}
/*This is to change the base of rem, now 1.6rem = 16px!*/

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: $m-size;
	max-width: 80rem;
	margin: 10rem auto 10rem;
	padding: 0 $m-size;
/*	border: 1px solid yellow;*/

}

button {
	cursor: pointer;
}

button:disabled {
	cursor: default;
}

.is-active {
	font-weight: bold;
}